<div class="row" style="margin-top: 7rem">
    <div class="col-md-12 card">
        <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
                <em class="material-icons">date_range</em>
            </div>
            <h4 class="card-title">les dates de mes rendez vous</h4>
        </div>
        <div class="card-body">
            <a mat-raised-button class="btn btn-success" routerLink="/nos-medecins">ajouter render vous</a>
            <div class="row" style="margin-top: 5rem">
                <div class="col-md-12">
                    <app-consultations [role]="role" [rows]="appointments"></app-consultations>
                </div>
            </div>
        </div>
    </div>
</div>
